@model HamburgerListViewModel

@{
    ViewData["Title"] = "Burger List";
}

<div>

    <h2>@ViewData["PageTitle"]</h2>
    <hr/>
    <h8>
        @ViewBag.TotalTitle @ViewBag.TotalBurgers
    </h8>
    <hr/>

</div>

<div class="container">
    <div class="row">
        @foreach (var burger in Model.Hamburgers) {

            <div class="col-sm-4 col-md-4 col-lg-4">
                <p>
                    <img src="@burger.ImageURL" class="img-fluid"/>
                </p>
                <h4>
                    @burger.HamburgerName
                </h4>
                
                <h3>
                    Price: @burger.Price.ToString("C")
                </h3>

                <p>@burger.ShortDescription</p>
            </div>

        }
    </div>
</div>